<?xml version="1.0"?>
<config>
    <sections>
        <google>
            <groups>
                <analytics>
                    <fields>
                        <serverside_debug translate="label">
                            <label>Debug Server Side Synchronisation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </serverside_debug>
                    </fields>
                </analytics>
            </groups>
        </google>
    </sections>
</config>